:root {
    --text: #161518;
    --background: #ebe8f0;
    --primary: #b2a4cf;
    --secondary: #45326b;
    --accent: #8368bf;

}

body {
    font-family: "Libre Baskerville", sans-serif;
    background-color: var(--background);
    color: var(--text);

    margin: 0;
}

header h3 {
    font-size: 1.5rem;
    margin: 0;
}

header {
    position: sticky;
    top: 0;

    backdrop-filter: blur(10px);
    padding: 1rem;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 50;
}

header input {
    background-color: rgba(0, 0, 0, 0.075);
    color: var(--text);
    width: 300px;

    border: none;
    outline: none;

    font-family: inherit;

    border-radius: 5px;
    padding: .6rem;
    margin: 0 1rem;
}

header .user {
    display: flex;
    align-items: center;

    gap: 10px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    max-width: 1024px;
    margin: auto;
}

/* business card */

.business {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.05);

    width: 300px;
}

.business img {
    width: 100%;
    height: 200px;

    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.business h2 {
    font-size: 1.25rem;
    margin: 2px 0;
}

.business p {
    font-size: 0.825rem;
    color: rgba(0, 0, 0, 0.8);

    margin-bottom: 20px;
}

.business-content {
    margin: 5px 9px;
}

.rating {
    position: relative;
    display: flex;
    
    height: 10px;
    width: 100%;

    background: linear-gradient(to right, rgba(255, 100, 100, 0.3) 0%, rgba(100, 255, 100, 0.3) 100%);
    border-radius: 0 0 5px 5px;
}

.pointer {
    display: flex;
    position: absolute;
    
    top: 0;
    align-items: center;

    flex-direction: column;
    transform: translateY(-40%);

    border-radius: 10px;

    height: 30px;
    width: 30px;
}

/* trending */

#trending {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

/* mobile */

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    header input {
        width: 100%;
        margin: 1rem 0;
    }

    .business {
        width: calc(100% - 40px);
    }
}